.main{
    background: url(../img/data_bg.png) no-repeat;
    background-position: center center;
    background-color: #000000;
    height: 100%;
    /*min-height: 570px;*/
    /*min-width: 1200px;*/
    min-height: 700px;
    min-width: 900px;
    position: relative;
    overflow: hidden; /* IE兼容 */
}
.main .login_box{
    width: 470px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main .login_box .logo{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
}
.main .login_box .input_wrap{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #58768b;
    width: 450px;
    margin-left: 10px;
    font-size: 18px;
    float: left;
}
.main .login_box input{
    background-color: transparent;
    font-size: 18px;
    color: #ffffff;
    height: 35px;
    line-height: 35px;
    width: 380px;
    padding-left: 70px;
    border: 0;
    margin-top: 18px;
    outline: none;
}
.main .login_box .uer_name{
    /* 设置图片 */
    background: url(../icon/web_icon/user.png) no-repeat;
    background-position: 20px 5px;
    background-size: 25px 25px;
}
.main .login_box .password{
    /* 设置图片 */
    background: url(../icon/web_icon/password.png) no-repeat;
    background-position: 20px 5px;
    background-size: 25px 25px;
}
.main .login_box .login_wrap{
    height: 70px;
    line-height: 70px;
    margin: 70px auto 0;
    text-align: center;
    float: left;
    width: 100%;
}
.main .login_box .login_wrap .login_btn{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 18px 90px;
    background-color: #00a0e8;
    border-radius: 3px;
    cursor: pointer;
}
.main .login_box .register_wrap{
    text-align: center;
    width: 100%;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.main .login_box .register_wrap span{
    color: #ffffff;
}
.main .login_box .register_wrap span a{
    color: #00a0e8;
    cursor: pointer;
}

/* 注册 */
.main .register_box{
    width: 470px;
    height: 580px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main .register_box .logo{
    color: #ffffff;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.main .register_box .input_wrap{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #58768b;
    width: 450px;
    margin-left: 10px;
    font-size: 18px;
    float: left;
}
.main .register_box input{
    background-color: transparent;
    font-size: 18px;
    color: #ffffff;
    height: 35px;
    line-height: 35px;
    width: 380px;
    padding-left: 70px;
    border: 0;
    margin-top: 18px;
    outline: none;
}
.main .register_box .user_name{
    background: url(../icon/web_icon/user.png) no-repeat;
    background-position: 20px 5px;
    background-size: 25px 25px;
}
.main .register_box .password{
    background: url(../icon/web_icon/password.png) no-repeat;
    background-position: 20px 5px;
    background-size: 25px 25px;
}
.main .register_box .country{
    width: 50px;
    background: url(../icon/web_icon/phone.png) no-repeat;
    background-position: 20px 5px;
    background-size: 25px 25px;
}
.main .register_box .country_label{
    color: #FFFFFF;
}
.main .register_box .phone{
    /*background: url(../icon/web_icon/phone.png) no-repeat;*/
    /*background-position: 18px 0px;*/
    /*background-size: 30px 30px;*/
    padding: 0;
    width: 240px;
}
.main .register_box .phone_btn{
    display: block;
    float: right;
    height: 30px;
    width: 30px;
    margin: 20px 3px 0;
    cursor: pointer;
    background: url(../icon/web_icon/drop.png) no-repeat;
    background-size: 30px 30px;
}
.main .register_box .ver_code{
    width: 280px;
    background: url(../icon/web_icon/identy_code.png) no-repeat;
    background-position: 20px 5px;
    background-size: 25px 25px;
}
.main .register_box .address{
    width: 330px;
    background: url(../icon/web_icon/city.png) no-repeat;
    background-position: 20px 5px;
    background-size: 25px 25px;
}
.main .register_box .com_address{
    background: url(../icon/web_icon/address.png) no-repeat;
    background-position: 20px 5px;
    background-size: 25px 25px;
}
.main .register_box .job{
    background: url(../icon/web_icon/job.png) no-repeat;
    background-position: 20px 5px;
    background-size: 25px 25px;
}
.main .register_box .input_wrap .send_btn_wrap{
    width: 95px;
    float: right;
    height: 20px;
    margin-top: 25px;
    border-left: 2px solid #58768b;
}
.main .register_box .input_wrap .send_btn{
    color: #00a0e8;
    font-size: 14px;
    text-align: right;
    display: block;
    float: right;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}
/* 发送中 */
.main .register_box .input_wrap .send_btn.sending{
    color: #e3e3e3;
    cursor: unset;
    background-color: #a3a6aa;
    padding: 0 5px;
    border-radius: 3px;
}
.main .register_box .input_wrap .add_btn{
    display: block;
    float: right;
    height: 30px;
    width: 30px;
    margin: 20px 3px 0;
    cursor: pointer;
    background: url(../icon/web_icon/drop.png) no-repeat;
    background-size: 30px 30px;
}
.main .register_box .input_wrap .drop_back{
    background: url(../icon/web_icon/drop.png) no-repeat;
    background-size: 30px 30px;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.main .register_box .register_wrap{
    height: 70px;
    line-height: 70px;
    margin: 30px auto 0;
    text-align: center;
    float: left;
    width: 100%;
}
.main .register_box .register_wrap .register_btn{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 18px 90px;
    background-color: #00a0e8;
    border-radius: 3px;
    cursor: pointer;
}
.main .register_box .login_wrap{
    text-align: center;
    width: 100%;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.main .register_box .login_wrap span{
     color: #ffffff;
}
.main .register_box .login_wrap span a{
    color: #00a0e8;
    cursor: pointer;
}


.main .login_box input::-webkit-input-placeholder,
.main .login_box textarea::-webkit-input-placeholder,
.main .register_box input::-webkit-input-placeholder,
.main .register_box textarea::-webkit-input-placeholder{
    color: #a3a6aa;
}
.main .login_box input:-moz-placeholder ,
.main .login_box textarea:-moz-placeholder ,
.main .register_box input:-moz-placeholder ,
.main .register_box textarea:-moz-placeholder {
    color:#a3a6aa;
}
.main .login_box input::-moz-placeholder ,
.main .login_box textarea::-moz-placeholder ,
.main .register_box input::-moz-placeholder ,
.main .register_box textarea::-moz-placeholder {
    color:#a3a6aa;
}
.main .login_box input:-ms-input-placeholder ,
.main .login_box textarea:-ms-input-placeholder ,
.main .register_box input:-ms-input-placeholder ,
.main .register_box textarea:-ms-input-placeholder {
    color:#a3a6aa;
}

/* 下拉框样式 */
.select_box{
    z-index: 200;
    background-color: #FFF;
    position: absolute;
    top: 60px;
    width: 400px;
    border-left: 1px solid #58768b;
    border-radius: 0 0 5px 5px;
    overflow: auto;
    left: 45px;
    max-height: 300px;
    padding-bottom: 30px;
}
.select_box ul{
    margin: 0;
    padding: 0;
}
.select_box ul li{
    display: block;
    color: #58768b;
    height: 40px;
    line-height: 40px;
}
.select_box ul li a{
    padding: 0 5px;
    cursor: pointer;
    border-bottom: 1px dashed #00a0e8;
    margin: 0 15px;
    display: block;
}
.select_box ul li a:hover{
    background-color: #e3e3e3;
}
.select_box ul li a span{
    float: right;
    font-size: 14px;
    color: #00a0e8;
}
.city_mask{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 999;
    top: 0;
    left: 0;
}
/* 登录框/注册框隐藏 */
.box_hidden{
    display: none;
}