@charset "UTF-8";
h3 .user,h3.title a.cart{display:inline-block;float:right}
.classfiy_pop,body,h3.title{max-width:640px}
.ui-dialog-btns,table{border-collapse:collapse}
.ui-btn,a{text-decoration:none}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
html{line-height:1}
body{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;box-sizing:border-box;margin-left:auto;margin-right:auto/*! font-size: 14px; */}
ol,ul{list-style:none}
.disabled{pointer-events:none}
table{border-spacing:0}
caption,td,th{text-align:left;font-weight:400;vertical-align:middle}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}
a img{border:none}
/* h3.title{height:40px;background:#F52626;color:#FFF;width:100%;line-height:40px;text-align:center;font-size:16px;border-bottom:1px solid #e25151;position:relative} */
/*h3.title a.back{position:absolute;height:15px;width:15px;left:15px;top:12px;border-top:2px solid #FFF;border-left:2px solid #FFF;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}*/
h3.title a.filter,h3.title a.right{position:absolute;height:32px;width:32px;top:9px}
h3.title a.right{background:url(../../i/icon.png) no-repeat;right:10px;background-size:31px auto}
/*!h3.title a.cart
{ background: url(../../i/cart.png) no-repeat; position: absolute; right: 55px; height: 32px; width: 32px; background-size: 31px auto; top: 9px;
}*/
h3.title a.filter{background:url(../../i/filter2_icon.png) no-repeat;right:15px;background-size:23px 23px;height:23px;width:23px;}
h3.red a.filter{
	/*background:url(../../i/filter.png) no-repeat;*/
	right:15px;
	background-size:31px auto;
	height:32px;
	width:32px;
}
h3.title a.cart{background:url(../../i/index.png) -399px 0 no-repeat;height:50px;background-size:485px auto;width:40px;margin-right:15px;position:relative}
h3.title a.cart i{background:#FFF;border-radius:10px;display:inline-block;width:20px;height:20px;position:absolute;right:-6px;top:1px;font-size:10px;line-height:20px;text-align:center;color:#f30000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
h3 .user{background:url(../../i/index.png) -286px 0 no-repeat;height:40px;background-size:416px auto;width:40px;margin-right:10px;position:absolute;right:0}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden}
input::-webkit-input-placeholder{font:inherit;font-size:16px;font-family:微软雅黑;color:#919191}
input{font-size:16px}
/*!*暂无数据统一样式**/
div.nocontent{background:#FFF;/* height:800px; */padding:43px 3% 0}
div.nocontent img{margin:0 auto;width:122px;/*! height: 150px; */display:block}
div.nocontent p{text-align:center;margin-top:10px;color:#AFAFB0}
div.nocontent a.nocontentbtn{display:block;border-radius:2px;height:50px;background-color:#f53333;line-height:50px;color:#FFF;text-align:center;font-size:20px;margin-bottom:20px;margin-top:50px}
.loaddiv,.loaddiv span{line-height:30px;height:30px}
.login-dialog h3,.ui-dialog .ui-dialog-title{font-size:16px;font-weight:700;text-align:center}
/*!*暂无数据统一样式**/
/*! loading块 start */
.loaddiv{display:none;float:none;width:100%;margin-left:0;text-align:center;background:0 0}
.loaddiv span{display:inline-block;background:url(http://i0.beta.ule.com/ulewap/i/loading1.gif) no-repeat;background-size:30px;padding-left:35px;margin-top:10px}
/*! loading块 end */
/*! 改版v2.1 20151228 */
.mgt51{margin-top:51px!important}
/*!h3.title{position:fixed;top:0;left:0;z-index:10;}*/
/*h3.title a.classfiy{background:url(../../i/goodsDetail/bmoreWhite.png) center center no-repeat;height:40px;display:inline-block;background-size:25px;width:39px;margin-right:0;position:absolute;right:0;top:0}*/
h3.title a.classfiy{background:url(../../i/goodsDetail/bmoreBlack.png) center center no-repeat;height:40px;display:inline-block;background-size:25px;width:39px;margin-right:0;position:absolute;right:0;top:0;margin-top: 2px;}
h3.title.addtop a.classfiy{top:20px;}
h3.title.red a.classfiy{background:url(../../i/goodsDetail/icon-more.png) center center no-repeat;background-size: 25px;}
.classfiy_pop,.classfiy_pop .mask{position:fixed;top:0;width:100%;height:100%}
.classfiy_pop{background-color:rgba(0,0,0,.3);/*! left: 0; */z-index:100;display:none}
.classfiy_pop .mask{z-index:101;left:0}
.classfiy_nav{position:absolute;right:0;top:40px;background:#fff;border-radius:0 0 0 5px;z-index:102}
.classfiy_nav li{height:40px;line-height:40px;border-bottom:1px solid #ccc;width:110px}
.classfiy_nav li:last-child{border-bottom:0 none;border-radius:0 0 0 5px}
.classfiy_nav li a{height:40px;line-height:40px;display:block;box-sizing:border-box;width:100%;color:#333;padding:0 0 0 10px;border-left:2px solid #fff}
.classfiy_nav li b{width:22px;height:24px;background:url(../../i/classfiyNav_icon.png) -9999px -9999px no-repeat;background-size:91px 46px;margin:0 5px 0 0;display:inline-block;vertical-align:middle}
.ui-dialog,div.ui-mask{position:fixed;display:none;-webkit-transform:translateZ(0);-webkit-user-drag:none;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0)}
.classfiy_nav li.homeLi b{background-position:0 1px;background-size:91px 46px}
.classfiy_nav li.classfiyLi b{background-position:-24px 1px;background-size:91px 46px}
.classfiy_nav li.cartLi b{background-position:-48px 1px;background-size:91px 46px}
.classfiy_nav li.my_centerLi b{background-position:-72px 1px;background-size:91px 46px}
.classfiy_nav .homeLi.current b{background-position:0 -23px;background-size:91px 46px}
.classfiy_nav .classfiyLi.current b{background-position:-24px -23px;background-size:91px 46px}
.classfiy_nav .cartLi.current b{background-position:-48px -23px;background-size:91px 46px}
.classfiy_nav .my_centerLi.current b{background-position:-72px -23px;background-size:91px 46px}
.classfiy_nav li a:hover{text-decoration:none;color:#333}
.classfiy_nav li.current a{border-left:2px solid #f52626;color:#f52626}
/*!*弹出框**/
div.ui-mask{top:0;left:0;background:#888;opacity:.5;z-index:1001;height:100%;width:100%}
.ui-dialog{overflow:hidden;margin:-80px auto 0 -150px;z-index:1002;background:#f5f5f5;-webkit-box-shadow:0 1px 10px rgba(0,0,0,.6);-webkit-border-radius:3px;width:300px;height:auto;left:50%;top:50%}
.ui-dialog .ui-dialog-title{position:relative;background:0 0;color:#fff;-webkit-border-radius:3px 3px 0 0;height:auto;line-height:1}
.login-dialog h3{color:#333;padding:16px 0 13px;border-bottom:3px solid #f30000}
.ui-dialog .ui-dialog-content{position:relative;padding:0;margin-top:10px}
.login-dialog p{line-height:1.6;padding:0 20px}
.ui-dialog-btns{table-layout:fixed;display:table;margin:10px 0 0;width:100%}
.ui-btn{cursor:pointer;-webkit-user-select:none;-webkit-box-sizing:border-box;-webkit-appearance:none;display:inline-block;padding:.5em .6em;margin:2px;border:1px solid #D2D2D2;-webkit-border-radius:2px;border-radius:2px;background-color:#fff;color:#333;font-size:14px;position:relative}
.ui-dialog-btns .ui-btn{padding:0;font-size:18px;width:100%;display:table-cell;float:none;text-align:center;height:44px;line-height:44px;color:#232323;border:1px solid #ccc;background-color:#f7f7f7;border-bottom:0 none;cursor:pointer;-webkit-tap-highlight-color:rgba(255,255,255,0)}
.wrapper .loading_box,.wrapper .tipBox{font-size:16px;text-align:center;color:#fff;position:fixed}
.wrapper .tipBox,.wrapper .tips_overlay .tipBox.mask-in{background-color:rgba(0,0,0,.8)}
.ui-dialog-btns .ui-btn:first-child{-webkit-border-bottom-left-radius:3px;border-left:0 none}
.ui-dialog-btns .ui-btn:last-child{-webkit-border-bottom-right-radius:3px;border-right:0 none}
.wrapper .r5,.wrapper .tipBox{border-radius:5px}
/*!*弹出框**/
/*!tipBox*/
.wrapper{font-family:"微软雅黑";font-size:16px;line-height:24px;background-size:100%;height:auto;}
.wrapper .tipBox{width:80%;left:10%;top:30%;line-height:40px;z-index:99998}
.wrapper .tips_overlay .tipBox.mask-out{background-color:#000}
.wrapper .tipBox.active{-webkit-animation:1s move alternate 4}
.wrapper .tipBox .msg{padding:20px 0}
.wrapper .tipBox h2{line-height:24px;font-weight:400;text-align:center;font-size:16px}
.wrapper .tipBox i{vertical-align:middle;display:inline-block;width:.1px;height:100%}
.wrapper .overlay,.wrapper .tips_overlay{position:fixed;top:0;left:0;z-index:99999;width:100%;height:100%;background-color:rgba(0,0,0,.8);transition:all .2s ease-in-out;opacity:0}
.wrapper .tips_overlay{background-color:transparent}
.wrapper .overlay-in{opacity:1}
.wrapper .overlay-out{opacity:0}
.wrapper .loading_box{width:80%;left:10%;top:30%;background-color:#000;z-index:98;border-radius:5px;padding:10px 0}
.wrapper .loading_wrapper{position:fixed;left:0;top:0;height:100%;width:100%;display:none}
/*!tipBox END*/
/*头部样式修改公用版*/
h3.title {
    height: 40px;
    background: rgba(255,255,255,0.95);
    color: #000;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    font-weight: 400;    
    box-sizing: border-box;
    position:fixed;
    top: 0;
    border-bottom: 1px solid #fef;
}
h3.title.category{
	padding: 0 40px;
}
h3.title.category.addtop{
	padding-top: 0px;
}
input#keyWord {
    position: relative;
    height: 30px;
    padding: 0px 5px;
    width: 95%;
    box-sizing: border-box;
    line-height: 30px;
    display: block;
    border-radius: 30px;
    -webkit-appearance: none;
    border: 1px solid #fff;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #f5f4f9;
    color:#fff;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#keyWord::-webkit-input-placeholder{text-align: center;font-size:15px;position: relative;}
#keyWord::-webkit-input-placeholder:before{    content: '';
    display: block;
    position: absolute;
    left: 0%;
    width: 26px;
    top: 0;
    height: 100%;
    background: url(../../i/icon_03.png) no-repeat center center;
   	/*background: url(../img/icon_03.png) no-repeat center center;*/
    background-size: 20px;
}
h3.title.category.addtop input#keyWord {
	top: 20px;
}
h3.title.red{
    /*background: #e42222;
    border-bottom: none; 
    color: #fff;*/
	background: #fefefe;
    border-bottom: none; 
    color: #333333;
}

h3.title.rRed{
    background: #e42222;
    border-bottom: none; 
    color: #fff;
}

h3.title.addtop{
	height: 60px;
	padding-top: 20px;
}
h3.title.fixed{
	position: fixed;
    top: 0;
    z-index:100 !important;
}
h3.title a.back {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 15px;
    top: 12px;
    border-top: 2px solid #333333;
    border-left: 2px solid #333333;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
h3.title.rRed a.back{
	border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
h3.title.red a.back{
	/*border-top: 2px solid #fff;
    border-left: 2px solid #fff;*/
	border-top: 2px solid #333333;
    border-left: 2px solid #333333;
}
h3.title.addtop a.back{
	top: 32px;
}

ol.detail_nav li {
    display: inline-block;
    width: 80px;
    text-align: center;
    font-size: 14px;
}
ol.detail_nav li.focus {
    font-size: 16px;
    position: relative;
    color: #e1262b;
}

ol.detail_nav li.focus:after {
    content: '';
    width: 60%;
    height: 2px;
    background: #e1262b;
    position: absolute;
    left: 20%;
    bottom: 2px;
}
h3.title span#tit_menu {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url(../../i/goodsDetail/bmoreBlack.png) no-repeat center center;
   /*background: url(../img/bmoreBlack.png) no-repeat center center;*/
    background-size: 27px;
    position: absolute;
    right: 0px;
    top: 0;
}
h3.title.red span#tit_menu {
	background: url(../../i/goodsDetail/icon-more.png) no-repeat center center;
	background-size: 27px;
}
h3.title.addtop span#tit_menu{
	top: 20px;
}
.frameBox.addtop{
	top: 61px;
}
h3.title a.share {
    height: 40px;
    display: inline-block;
    width: 50px;
    right: 0;
    top: 0px;
    position: absolute;
    margin-right: 0
}
h3.title a.share {
    background: url(/ulewap/i/group/share_btn.png) center center no-repeat;
    background-size: 30px;
}
h3.title.addtop a.share{
	top: 20px;
}
.navDetail {
    position: fixed;
    display: none;
    top: 61px;
    opacity: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    z-index: 13;
}
.navDetail.addtop{
	top: 61px;
}
#detail.addtop{
	position: relative;
	top: 20px;
}
div.content.addtop{
	top: 20px;
}
.clearfix:before, .clearfix:after { content: "."; display: block; height: 0; visibility: hidden; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }
/**********
    tipBox css
**********/
.tipBox {
    width: 80%;
    font-size: 16px;
    position: fixed;
    left: 10%;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #fff;
    line-height: 40px;
    z-index:99998;
    border-radius:5px;
}
.tips_overlay .tipBox.mask-in {
    background-color: rgba(0, 0, 0, 0.8);
}
.tips_overlay .tipBox.mask-out {
    background-color: rgba(0, 0, 0, 1);
}
.tipBox.active {
    -webkit-animation: 1s move alternate 4
}
.r5 {
    border-radius: 5px
}
.tipBox .msg{
    padding:20px;
}
.tipBox h2{
    line-height:24px;font-weight:normal;text-align:center;font-size:16px;
}
.tipBox i{
    vertical-align:middle;display:inline-block;width:0.1px;height:100%;
}

/* 票据类型--弹框 */
.scan-tip-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 200;
    background: rgba(0, 0, 0, .3);
    overflow: hidden;
}
.scan-tip-wrapper.show {
    display: block;
}
.scan-tip-wrapper .pay_paw{
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 1;
    -webkit-animation: showDl .3s ease both;
    z-index: 300;
    overflow: hidden;
}
@-webkit-keyframes showDl {
    0% { transform: scale(.2) }
    100% {transform: scale(1)}
}
.col-f84b0b{color: #ea4b4a}
.scan-tip-wrapper .pay_paw .shade_title{height: 45px;line-height: 45px;font-size: 16px;text-align: center;color: #f84b0b;border-bottom: 1px solid #dedede;position: absolute;top: 0;width: 100%;}
.scan-tip-wrapper .pay_paw .shade_main{margin:45px 0 45px 0;padding: 5px 10px;height: 300px;overflow: auto}
.scan-tip-wrapper .pay_paw .shade_type{font-size: 16px;font-weight: bold;height: 25px;line-height: 25px;}
.scan-tip-wrapper .pay_paw .notice{font-size: 14px;}
.scan-tip-wrapper .pay_paw .notice .notice_title{font-weight: bold;height: 45px;line-height: 45px;}
.scan-tip-wrapper .pay_paw .shade_bottom{position: absolute;bottom: 0;height: 45px;line-height: 45px;background-color: #fff;width: 100%;cursor: pointer;}
.scan-tip-wrapper .pay_paw .shade_bottom p{padding: 0 10px}
.scan-tip-wrapper .pay_paw .shade_bottom p .shade_money{color: #f84b0b;}
.scan-tip-wrapper .pay_paw .shade_bottom p .schedule{display: inline-block;font-size: 12px;;float: right;width: 60px;margin-top: 10px;height: 25px;line-height: 25px;text-align: center;color: #fff;background-color: #ea4b4a}
.scan-tip-wrapper .pay_paw .shade_bottom p .shade_pay{font-size: 14px;;float: right;color: #f84b0b;margin-right: 5px;}
