.main{
    background: url(../img/data_bg.png) no-repeat;
    background-position: center center;
    background-color: #000000;
    height: 100%;
    min-height: 800px;
    min-width: 1200px;
    position: relative;
}
.main .login_box{
    width: 650px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main .login_box .logo{
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
.main .login_box .input_wrap{
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #58768b;
    width: 630px;
    margin-left: 10px;
    font-size: 25px;
    float: left;
}
.main .login_box input{
    background-color: transparent;
    font-size: 25px;
    color: #ffffff;
    height: 40px;
    width: 530px;
    padding-left: 100px;
    border: 0;
    margin-top: 25px;
    outline: none;
}
.main .login_box .uer_name{
    /* 设置图片 */
    background: url(../img/user.png) no-repeat;
    background-position: 25px 0;
}
.main .login_box .password{
    /* 设置图片 */
    background: url(../img/user.png) no-repeat;
    background-position: 25px 0;
}
.main .login_box .login_wrap{
    height: 100px;
    line-height: 100px;
    margin: 100px auto 0;
    text-align: center;
    float: left;
    width: 100%;
}
.main .login_box .login_wrap .login_btn{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    padding: 25px 125px;
    background-color: #00a0e8;
    border-radius: 3px;
    cursor: pointer;
}
.main .login_box .register_wrap{
    text-align: center;
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.main .login_box .register_wrap span{
    color: #ffffff;
}
.main .login_box .register_wrap span a{
    color: #00a0e8;
    cursor: pointer;
}

/* 注册 */
.main .register_box{
    width: 650px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main .register_box .logo{
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}
.main .register_box .input_wrap{
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #58768b;
    width: 630px;
    margin-left: 10px;
    font-size: 25px;
    float: left;
}
.main .register_box input{
    background-color: transparent;
    font-size: 25px;
    color: #ffffff;
    height: 40px;
    width: 530px;
    padding-left: 100px;
    border: 0;
    margin-top: 25px;
    outline: none;

    background: url(../img/user.png) no-repeat;
    background-position: 25px 0px;
}

.main .register_box input.ver_code{
    width: 390px;
}
.main .register_box input.address{
    width: 390px;
}
.main .register_box .input_wrap .send_btn{
    color: #00a0e8;
    font-size: 20px;
    text-align: right;
    width: 130px;
    display: block;
    float: right;
    border-left: 2px solid #58768b;
    height: 20px;
    line-height: 20px;
    margin-top: 35px;
    cursor: pointer;
}
.main .register_box .input_wrap .add_btn{
    display: block;
    float: right;
    height: 40px;
    width: 40px;
    margin: 20px 5px 0;
    cursor: pointer;
    background: url(../img/drop.png) no-repeat;
}
.main .register_box .register_wrap{
    height: 100px;
    line-height: 100px;
    margin: 40px auto 0;
    text-align: center;
    float: left;
    width: 100%;
}
.main .register_box .register_wrap .register_btn{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    padding: 25px 125px;
    background-color: #00a0e8;
    border-radius: 3px;
    cursor: pointer;
}
.main .register_box .login_wrap{
    text-align: center;
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.main .register_box .login_wrap span{
     color: #ffffff;
}
.main .register_box .login_wrap span a{
    color: #00a0e8;
    cursor: pointer;
}


.main .login_box input::-webkit-input-placeholder,
.main .login_box textarea::-webkit-input-placeholder,
.main .register_box input::-webkit-input-placeholder,
.main .register_box textarea::-webkit-input-placeholder{
    color: #a3a6aa;
}
.main .login_box input::-webkit-input-placeholder,
.main .login_box textarea::-webkit-input-placeholder,
.main .register_box input::-webkit-input-placeholder,
.main .register_box textarea::-webkit-input-placeholder{
    color:#a3a6aa;
}
.main .login_box input::-webkit-input-placeholder,
.main .login_box textarea::-webkit-input-placeholder,
.main .register_box input::-webkit-input-placeholder,
.main .register_box textarea::-webkit-input-placeholder{
    color:#a3a6aa;
}
.main .login_box input::-webkit-input-placeholder,
.main .login_box textarea::-webkit-input-placeholder,
.main .register_box input::-webkit-input-placeholder,
.main .register_box textarea::-webkit-input-placeholder{
    color:#a3a6aa;
}
